#!/bin/bash

APT_CACHE_HOST="{{ lookup('env', 'APT_CACHE_HOST') }}"

# Check if we can connect to the given host and provide it if so
if [ ! -z "${APT_CACHE_HOST}" ]; then
    if $(nc -zw1 "${APT_CACHE_HOST}" 3142); then
        echo "http://${APT_CACHE_HOST}:3142"
        exit
    fi
fi

# Otherwise, don't use a proxy
echo "DIRECT"
