---
- name: Remove ZFS modprobe configuration
  file:
    dest: /etc/modprobe.d/zfs.conf
    state: absent
  when: >
    (pve_zfs_options is not defined) or
    (pve_zfs_options is defined and not pve_zfs_options | length > 0) or
    (not pve_zfs_enabled | bool)

- name: Disable loading of ZFS module on init
  file:
    dest: /etc/modules-load.d/zfs.conf
    state: absent
  when: "not pve_zfs_enabled | bool"

- block:
    - name: Re-enable nmi_watchdog via GRUB config
      lineinfile:
        dest: /etc/default/grub
        line: 'GRUB_CMDLINE_LINUX="$GRUB_CMDLINE_LINUX nmi_watchdog=0"'
        state: absent
      notify: update-grub

    - name: Remove ipmi_watchdog modprobe configuration
      file:
        dest: /etc/modprobe.d/ipmi_watchdog.conf
        state: absent

    - name: Load softdog
      modprobe:
        name: softdog

    - name: Set PVE HA Manager watchdog configuration back to default
      copy:
        content: "WATCHDOG_MODULE=softdog"
        dest: /etc/default/pve-ha-manager
        mode: 0640
      notify:
        - restart watchdog-mux
  when: "pve_watchdog != 'ipmi'"

- block:
    - name: Disable declaring IOMMU unsafe interrupts on init
      ansible.builtin.file:
        dest: /etc/modprobe.d/iommu_unsafe_interrupts.conf
        state: absent
      when: >
        (not pve_pcie_passthrough_enabled | bool) or
        (not pve_iommu_unsafe_interrupts | bool)

    - block:
        - name: Remove modules list for PCIe Passthrough
          ansible.builtin.blockinfile:
            dest: /etc/modules
            state: absent
            marker: "# {mark}: Modules required for PCI passthrough (managed by ansible)."
          notify: update-initramfs

        - name: Remove CPU IOMMU in default grub
          ansible.builtin.lineinfile:
            path: /etc/default/grub
            regexp: ^GRUB_CMDLINE_LINUX="iommu=pt
            state: absent
          notify: update-grub
      when: "not pve_pcie_passthrough_enabled | bool"

    - block:
        - name: Remove modules list for GVT-g
          ansible.builtin.blockinfile:
            dest: /etc/modules
            state: absent
            marker: "# {mark}: Modules required for GVT-g (managed by ansible)."
          notify: update-initramfs

        - name: Remove CPU IOMMU in default grub
          ansible.builtin.lineinfile:
            path: /etc/default/grub
            regexp: ^GRUB_CMDLINE_LINUX="i915.enable_gvt=1 i915.enable_guc=0"
            state: absent
          notify: update-grub
      when: >
        (not pve_pcie_passthrough_enabled | bool) or
        (not pve_mediated_devices_enabled | bool)

    - block:
        - name: Remove vfio-pci id(s) in default grub
          ansible.builtin.lineinfile:
            path: /etc/default/grub
            regexp: ^GRUB_CMDLINE_LINUX="vfio-pci.ids=
            state: absent
          notify: update-grub
          when: "not pve_pci_device_ids | length > 0"

        - name: Remove vfio config file
          ansible.builtin.file:
            dest: /etc/modprobe.d/vfio.conf
            state: absent
          when: >
            (not pve_pci_device_ids | length > 0) and
            (not pve_vfio_drivers | length > 0) and
            (not pve_pcie_ovmf_enabled | bool)

        - name: Remove kvm config file
          ansible.builtin.file:
            dest: /etc/modprobe.d/kvm.conf
            state: absent
          when: >
            (not pve_pci_device_ids | length > 0)
