- name: Remove automatically installed PVE Enterprise repo configuration
  ansible.builtin.apt_repository:
    repo: "{{ item }}"
    filename: pve-enterprise
    state: absent
    update_cache: false
  with_items:
    - "deb https://enterprise.proxmox.com/debian {{ ansible_distribution_release }} pve-enterprise"
    - "deb https://enterprise.proxmox.com/debian/pve {{ ansible_distribution_release }} pve-enterprise"
    - "deb https://enterprise.proxmox.com/debian/ceph-quincy {{ ansible_distribution_release }} enterprise"
  when: "ansible_distribution_major_version | int <= 12"

- name: Remove automatically installed PVE Enterprise repo configuration
  ansible.builtin.deb822_repository:
    name: pve-enterprise
    state: absent
    types: deb
    uris: https://enterprise.proxmox.com/debian/pve
    suites: "{{ ansible_distribution_release }}"
    components:
      - pve-enterprise
  when: "ansible_distribution_major_version | int > 12"

- name: Remove automatically installed Ceph Enterprise repo configuration
  ansible.builtin.deb822_repository:
    name: ceph
    state: absent
    types: deb
    uris: https://enterprise.proxmox.com/debian/{{ pve_ceph_debian_component }}
    suites: "{{ ansible_distribution_release }}"
    components:
      - enterprise
  when: "ansible_distribution_major_version | int > 12"
