---
- name: Create SSH directory for root
  ansible.builtin.file:
    path: /root/.ssh/
    state: directory
    mode: "0700"

- name: Create root SSH key pair for PVE
  ansible.builtin.user:
    name: root
    generate_ssh_key: yes
    ssh_key_bits: 521
    ssh_key_file: /root/.ssh/id_ed25519
    ssh_key_type: ed25519
    ssh_key_comment: "root@{{ inventory_hostname_short }}"

- name: Fetch root SSH public key
  ansible.builtin.slurp:
    src: /root/.ssh/id_ed25519.pub
  register: _proxmox_root_ssh_pubkey

- name: Authorize all hosts' root SSH public keys
  ansible.posix.authorized_key:
    user: root
    key: "{{ hostvars[item]._proxmox_root_ssh_pubkey.content | b64decode }}"
  with_items: "{{ groups[pve_group] }}"

- name: Configure SSH clients for connecting to PVE cluster hosts
  ansible.builtin.blockinfile:
    dest: /etc/ssh/ssh_config
    create: yes
    mode: 0644
    marker: "# {mark}: PVE host configuration options (managed by ansible)."
    content: |
      {% for host in groups[pve_group] %}
      Host {{ hostvars[host].pve_cluster_ssh_addrs | join(" ") }}
          IdentityFile /root/.ssh/id_ed25519
          Port {{ pve_ssh_port }}
      {% endfor %}

- name: Ensure SSH config directory exists
  ansible.builtin.file:
    path: /etc/ssh/sshd_config.d
    state: directory
    mode: "0755"

- name: Allow root logins from PVE cluster hosts
  ansible.builtin.blockinfile:
    dest: /etc/ssh/sshd_config.d/00-pve.conf
    create: yes
    mode: "0640"
    marker: "# {mark}: Allow root logins from PVE hosts (managed by ansible)."
    content: |
      {% for host in groups[pve_group] %}
      Match Address {{ hostvars[host].pve_cluster_ssh_addrs | join(",") }}
        PermitRootLogin prohibit-password
      {% endfor %}
    validate: "/usr/sbin/sshd -t -f %s"
  notify:
    - reload ssh server configuration

- name: Remove SSH configuration from main sshd_config if present in favor of config in sshd_config.d
  ansible.builtin.blockinfile:
    path: /etc/ssh/sshd_config
    marker: "# {mark}: Allow root logins from PVE hosts (managed by ansible)."
    state: absent
  notify:
    - reload ssh server configuration
    
- name: Enable and start SSH server
  ansible.builtin.systemd:
    name: ssh.service
    enabled: yes
    state: started

- name: Fetch a SSH public key to use for cluster joins
  ansible.builtin.slurp:
    src: "/etc/ssh/ssh_host_ed25519_key.pub"
  register: _pve_ssh_public_key

- name: Add PVE-provided ciphers to SSH client config
  ansible.builtin.lineinfile:
    line: "Ciphers {{ pve_ssh_ciphers }}"
    regexp: "^Ciphers .*"
    insertbefore: BOF
    create: yes
    mode: 0644
    dest: /root/.ssh/config
