---
- name: Create SSH directory for root
  file:
    path: /root/.ssh/
    state: directory
    mode: 0700

- name: Create root SSH key pair for PVE
  user:
    name: root
    generate_ssh_key: yes
    ssh_key_file: /root/.ssh/id_rsa
    ssh_key_type: rsa
    ssh_key_comment: "root@{{ inventory_hostname_short }}"

- name: Fetch root SSH public key
  fetch:
    src: /root/.ssh/id_rsa.pub
    dest: "{{ proxmox_fetch_directory }}/{{ inventory_hostname }}/root_rsa.pub"
    fail_on_missing: yes
    flat: yes

- name: Authorize all hosts' root SSH public keys
  authorized_key:
    user: root
    key: "{{ lookup('file', proxmox_fetch_directory + '/' + item + '/root_rsa.pub') }}"
  with_items: "{{ groups[proxmox_group] }}"

- name: Add key configuration for accessing PVE hosts
  blockinfile:
    dest: /root/.ssh/config
    marker: "# {mark} {{ item }}"
    content: |
      Host {{ item }} {{ hostvars[item].ansible_default_ipv4.address }}
          IdentityFile /root/.ssh/id_rsa
    create: yes
  with_items: "{{ groups[proxmox_group] }}"

- name: Allow root logins from cluster hosts
  blockinfile:
    dest: /etc/ssh/sshd_config
    marker: "# {mark} Allow {{ item }} to login as root"
    content: |
      Match Address {{ hostvars[item].ansible_default_ipv4.address }}
          PermitRootLogin yes
    validate: "/usr/sbin/sshd -t -f %s"
  with_items: "{{ groups[proxmox_group] }}"
  notify:
    - reload sshd configuration
