---
# handlers file for ansible-role-proxmox
- name: restart pvedaemon
  ansible.builtin.service:
    name: pvedaemon
    state: restarted

- name: restart pveproxy
  ansible.builtin.service:
    name: pveproxy
    state: restarted

- name: reload ssh server configuration
  ansible.builtin.systemd:
    name: ssh.service
    state: reloaded

- name: restart watchdog-mux
  ansible.builtin.service:
    name: watchdog-mux
    state: restarted

- name: restart zfs-zed
  ansible.builtin.service:
    name: zfs-zed
    state: restarted

- name: restart ceph
  # Needs to use the systemd module directly to be able to
  # reload the systemd daemon
  ansible.builtin.systemd:
    name: ceph.service
    state: restarted
    daemon_reload: true

- name: update-initramfs
  ansible.builtin.command: update-initramfs -u -k all

- name: update-grub
  ansible.builtin.command: update-grub
  register: _pve_grub_update
  failed_when: >-
    'error' in (
      _pve_grub_update.stderr_lines |
      reject('equalto', '/usr/sbin/grub-probe: error: unknown filesystem.') |
      join('\n')
    )
  tags: skiponlxc
