---
name: CI

on:
  pull_request: {}
  push:
    branches: ["main"]
  workflow_dispatch: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      role: ${{ steps.filter.outputs.role }}
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          base: ${{ github.ref }}
          filters: |
            role:
              - 'tasks/**'
              - 'handlers/**'
              - 'defaults/**'
              - 'vars/**'
              - 'files/**'
              - 'library/**'
              - 'module_utils/**'
              - 'Vagrantfile'
  prepare:
    needs: ["changes"]
    if: ${{ needs.changes.outputs.role == 'true' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    steps:
      - uses: easimon/maximize-build-space@fc881a613ad2a34aca9c9624518214ebc21dfc0c # v10
        with:
          root-reserve-mb: 10240
          build-mount-path: /var/lib/libvirt/images
      - uses: actions/checkout@v4
      - run: sudo pipx inject ansible-core jmespath netaddr
      - run: ansible-galaxy install geerlingguy.ntp
