---
name: lints, lints, lints
on:
  pull_request: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  ansible-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.13"
          cache: "pip"
          # since this isn't exactly a python project, have it "kind" of depend on modifications
          # to this file (which should only matter when the ansible-lint version changes)
          cache-dependency-path: .github/workflows/lint.yml
      - uses: idolactivities/action-ansiblelint@0fa32fc70e0e2d03960332cf1a33ad8defe1f30e
        with:
          filter_mode: "diff_context"
          ansiblelint_version: 25.9.2
